.wrapper {
  margin-bottom: 1rem;
}

.input {
  width: 100%;

  display: block;
  
  padding: 0.8rem;
  
  background: #EEE;
  
  font-size: 1rem;
  
  border: 1px solid #EEE;
  border-radius: 0.4rem;
  
  transition: .2s;
}

.input:hover,
.input:focus {
  background: #FFF;

  border-color: #FB1;

  box-shadow: 0 0 0 3px #FEA;

  outline: none;
}

.label {
  display: block;

  padding-bottom: 0.5rem;
  
  font-size: 1rem;
  line-height: 1;
}

.error {
  margin-top: 0.25rem;
  
  color: #F31;

  font-size: 0.875rem;
}