.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  width: 40px;
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background: #EEE;
  
  border: 1px solid transparent;
  border-radius: 0.2rem;
  
  transition: 0.1s;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: #FFF;

  border-color: #333;

  box-shadow: 0 0 0 3px #EEE;

  outline: none;
}

.nav a.active {
  background: #FFF;

  border-color: #FB1;
  
  box-shadow: 0 0 0 3px #FEA;
}

.nav a.active svg > * {
  fill: #FB1;
}


.mobileButton {
  width: 40px;
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  background: #EEE;
  
  border: 1px solid transparent;
  border-radius: 0.2rem;
  
  transition: 0.1s;
}

.mobileButton::after {
  content: '';
  
  width: 1.2rem;
  height: 2px;
  
  display: block;
  
  background: currentColor;
  
  border-radius: 2px;

  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  
  transition: 0.2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  background: #FFF;
  color: #FB1;

  border-color: #FB1;
  
  box-shadow: 0 0 0 3px #FEA;
  
  outline: none;
}

.mobileButtonActive::after {
  width: 4px;
  height: 4px;
  
  box-shadow: 0 8px currentColor, 0 -8px currentColor;

  transform: rotate(-90deg);
}

.navMobile {
  position: absolute;
  top: 70px;
  right: 0px;

  padding: 0 1rem;
  
  background: #FFF;

  border-radius: 0.2rem;
  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  
  opacity: 0;

  transform: translateX(-10px);
  
  pointer-events: none;
}

.navMobileActive {
  opacity: 1;
  
  transform: initial;
  
  pointer-events: initial;
  
  z-index: 100;  

  transition: 0.3s;
}

.navMobile a,
.navMobile button {
  width: 100%;
  
  display: flex;
  align-items: center;

  padding: 0.5rem 0;
  
  background: none;

  border: none;
  border-bottom: 1px solid #EEE;
}

.navMobile a:hover svg > *,
.navMobile button:hover svg > * {
  fill: #FB1;
}

.navMobile button {
  border-bottom: none;
}

.navMobile svg {
  margin-right: 0.5rem;
}